body,html{
  height:100%;
}

p{
  text-align: right;
  font-size: 30px;
  font-family: serif;
}

p.marvel-p{
  text-align: left;
  font-size: 30px;
  font-family: serif;
}

button{
  float:right;
}

.carousel-caption{
  padding-bottom:60px;
}

footer{
  height: 40px;
  background-color: #666666
}

.intro-page{
  height: 700px;
  background-color: #C0C0C0;
  display: flex;
}

.intro-text{


}

p.about-page{
  font-size: 30px;
  font-family: serif;
  padding-left:300px;
  padding-right: 300px;
  padding-bottom: 200px;
  padding-top: 200px;
}


.fandom-pictures{
  height: 2000px;
  background-color: #C0C0C0;
}

.row{
  padding: 100px;
}

p.fandom{
  padding-top:40px;
  padding-left: 100px;
  font-size: 30px;
  font-family: serif;

}

.merch-pictures{
  height:800px;
  background-color: #C0C0C0;

}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.image img {
  padding-left:100px;
  padding-top:100px;
  width: 70%;
}
